#tablaTicket  {
	margin: 1em;
	width: 80%;
	border-collapse: collapse;
	font-size: 4rem;
	font-family: 'Calibri', Times, serif;
	font-weight: bold;
}
 #tablaTicket td {
	font-size: 3.5rem !important;
}

#tablaTicketCabezera{
	margin: 1em;
	width: 80%;
	border-collapse: collapse;
	font-size: 4rem;
	font-family: 'Calibri', Times, serif;
	font-weight: bold;

	
}
#TituloTicketIngreso{
	border: 1px solid black;
	text-align: center;
	font-size: 8rem !important;
	padding: 0 2em;
	
	}

#printBarcode{
	text-align: center;
	padding: 0 10rem;
	font-size: 8rem !important;
	
}
#Posticket{
	text-align: left;
	font-size: 3.5rem !important;
}
.FechaTicket{
	text-align: center !important;
	font-size: 2rem !important;
}
.logo{
	text-align: center;
	font-size: 3rem !important;
}
.leyendaPie{
	text-align: center;
	font-size: 3rem !important;
}

#tablaTicketTurno {
	margin: 1em;
	width: 80%;
	border-collapse: collapse;
	font-size: 4rem;
	font-family: 'Calibri', Times, serif;
	font-weight: bold;

}

.leyendaTurno{
	text-align: center;
	font-size: 6rem !important;
}

